@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}

main {
  height: 100vh;
  background-image: url('/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.glassMorphismo {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(44px);
  -webkit-backdrop-filter: blur(44px);
  position: relative;
  overflow: hidden;
}

.glassMorphismo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
}

.glassMorphismo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
}



/*** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions,
.swipeable-list-item__trailing-actions {
  @apply text-lg uppercase font-bold;
}

.swipeable-list-item__leading-actions {
  @apply border border-t border-l-transparent border-b border-r-transparent;
}

.swipeable-list-item__trailing-actions {
  @apply border border-t border-r-transparent border-b border-l-transparent;
}

.swipeable-list .swipe-action {
  @apply flex justify-center items-center
}